/* body {
    font-family: Arial, sans-serif;
    background-color: #1a202c;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a202c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.form-container {
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #000;
}

.form-container p {
    font-size: 1em;
    color: #6b7280;
}

.form-label {
    font-size: 1em;
    color: #374151;
}

.btn-dark {
    background-color: #1a202c;
    color: #fff;
}

.btn-dark:hover {
    background-color: #4a5568;
}

a {
    color: #3b82f6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.name-available-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.name-available-container input {
    width: 100%;
}

.name-available-container small {
    position: absolute;
    top: 60%;
    right: 10px;
}